<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Когнитив</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
<div class="custom-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">CognitiveLab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/flashcards">Quiz <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="navbar-nav ml-auto">
                        <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <div th:if="${not #authorization.expression('isAuthenticated()')}">
                <ul class="navbar-nav ml-auto"> <!-- Используйте ms-auto для Bootstrap 5 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/sign-in">Войти <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign-up">Регистрация <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <p class="title" th:text="${Title}"></p>
</div>
</body>
</html>


