<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пароль</title>
</head>
<body>
<h1>Изменение пароля</h1>
<div>
  <form th:method="post" th:action="@{/settings/system}" th:object="${passwordChangeForm}">
    <div>
      <label>Текущий пароль
        <input type="password" th:field="*{oldPassword}"/>
      </label>
    </div>
    <div>
      <label>Новый пароль
        <input type="password" th:field="*{newPassword}">
      </label>
    </div>
    <div>
      <label>Подтверждение пароля
        <input type="password" th:field="*{confirmPassword}">
      </label>
    </div>
    <div>
      <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
      <button type="submit">Сохранить</button>
    </div>
  </form>
</div>
<div>
  <a href="/settings/account">Аккаунт</a>
</div>
<div>
  <a href="/settings/personal">Обо мне</a>
</div>
</body>
</html>