<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="stylesheets/sign-in.css">
</head>
<body>
<form method="post" action="sign-in">
    <h1>Вход</h1>
    <div>
        <label>Email
            <input id="email" type="email" name="username" required/>
        </label>
    </div>
    <div>
        <label>Password
            <input id="password" type="password" name="password" required/>
        </label>
    </div>
    <div class="checkbox-label">
        <label>
            <input type="checkbox" name="remember"/>
            Remember me
        </label>
        <a href="#">Forgot?</a>
    </div>
    <input id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <button type="submit" class="btn">Войти</button>
</form>
</body>
</html>
